#goalForm {
    margin: 0 auto;
    margin-top: 50px;
    width: 40%;
    border: solid 1px;
    padding: 25px;
}
#goal {
    width: 40%;
}
.goalsList {
    margin-top: 50px;
}

.goalData {
    border: solid 1px;
    margin-top: 20px;
}
.title {
    margin-bottom: 40px;
    text-decoration: underline;
}
