
.listElement {
    cursor: pointer;
    display: flex;
}

h3 {
    margin: 15px;
}
.goalSpan {
    flex: 1;
    margin: 5px;
}
.delete {
    /*height: 20%;*/
    /*margin-left: 10px;*/
}
.progress {
    margin: 15px;
    width: 90%;
}

.progress-bar {
    color: #1e7e34;
}

@media screen and (max-width : 640px) {
    .delete {
        margin-left: 0px;
        text-align: center;

    }


}
